{%extends 'storehouse/base.html'%}

{%block content%}
    <form action="{% url 'storehouse:products' %}" method="GET">{% csrf_token %}
         {% block productslistcontent%}
         {% endblock %}
         <table>
             <tr>
                 <td><input id="edit_product" type="submit" value="Edit Product" formaction="{% url 'storehouse:edit_product' %}"></td>
                 <td></td>
                 <td><input  id="add_product" type="submit" value="Add product" formaction="{% url 'storehouse:add_product' %}" formmethod="GET"></td>
                 <td></td>
                 <td><input id="delete_product" type="submit" value="Delete Product"  formaction="{% url 'storehouse:delete_product' %}" formmethod="POST" onclick=confirm_delete_product()></td>
                 <td></td>
             </tr>
         </table>
  </form>
{%endblock%}