{%extends 'storehouse/base.html'%}

{%block content%}
    <form action="{% url 'storehouse:category' %}" method="GET">{% csrf_token %}
         {% block categoriescontent%}
         {% endblock %}
         <table>
             <tr>
                 <td><input id="rename_category" type="submit" value="Rename Category" formaction="{% url 'storehouse:rename_category' %}"></td>
                 <td></td>
                 <td><input  id="add_category" type="submit" value="Add Category" formaction="{% url 'storehouse:add_category' %}" formmethod="GET"></td>
                 <td></td>
                 <td><input id="delete_category" type="submit" value="Delete Category"  formaction="{% url 'storehouse:delete_category' %}" formmethod="POST" onclick=confirm_delete_category() ></td>
                 <td></td>
                 <td><input id="related_products" type="submit" value="View Related Products"  formaction="{% url 'storehouse:category_related_products' %}" ></td>
                 <td></td>
             </tr>
         </table>
  </form>
{%endblock%}