{%extends 'storehouse/base.html'%}

{%block content%}
    <h1 class="header">Rename Category</h1>
    <form action="{% url 'storehouse:rename_category' %}" method="POST" >{% csrf_token %}
        <BR>
        <label id="p">Category New Name:</label><BR>
        <input type="text" name="category_name" id="category_name" value="{{category.name}}" onkeyup=disable_enable_button(rename_button,this)><BR>
        <table>
             <tr>
                 <td><input id="rename_button" type="submit" value="Rename"></td>
             </tr>
        </table>
         <input hidden name="category_id" type="text" value="{{ category.id }}">

    </form>

{%endblock%}